*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    font-family: 'Open Sans', sans-serif;

}

nav{
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;
    font-weight: bold;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 3;
    background-color: white;

}
nav .nav, nav .nav-logo{
    margin: 0.5rem;
    display: inline-block;
    
}

.tuitt-button, .apply-button{
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 180px;
    box-shadow: 1px 1.5px 2.5px 0 rgb(0 0 0 / 40%);
    background-color: #c2195b;
    border-color: white;
    padding: .5em;
    color: white;
}
.right-nav{
    float: right;
    
}

#bg-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -40px;
}

.font-bg{
    width: 100%;
}

.container{
    position: absolute;
    width: 450px;
    height: 100%;
    content: " ";
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    text-align: right;
    color: white;
    width: 100%;

}
.title{
    text-align: right;
    margin-right: 65px;
    text-indent: 0;
    padding-top: 2rem;
    font-size: 2.66rem!important;
    font-family: 'Zilla Slab',serif;
    font-weight: 600;
    color: #fff;
    width: 45%;
    margin-left: auto;
    padding-bottom: 1.33rem;

}

.subtitle{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35%;
    margin-left: 60%;

}

.apply-button{
    margin-right: 70px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.intro{
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.title-2{
    margin-bottom: 40px;
    font-weight: bold;
}

.intro-description{
    width: 70%;
    text-align: left !important;
    margin-left: auto;
    margin-right: auto;
}

.pre-footer{
    width: 70%;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(120, 100%, 98%);
    padding: 50px;
}

.book-button{
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 180px;
    box-shadow: 1px 1.5px 2.5px 0 rgb(0 0 0 / 40%);
    background-color: #336589;
    border-color: white;
    padding: .5em;
    color: white;
    margin-top: 10px;
}

footer{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:150px;
    margin-top: 10px;
}